{% extends "dashboard/base.html" %}
{% block content %}
<script>
  function multiply()
  {
    var numOne, numTwo=1, product,numThree,product2;
    numOne = parseFloat(document.getElementById("avg_price").value);
    numTwo = parseFloat(document.getElementById("qty").value);
    numThree=parseFloat(document.getElementById("current_price").value);
    if(document.getElementById("Buy_Sell").value==="Buy"){
    console.log(document.getElementById("Buy_Sell").value)
    product = numOne*numTwo;
    product2=numThree*numTwo;
    if (numOne && numTwo){
      document.getElementById("invested_amount").value=" ";
      document.getElementById("invested_amount").value = product.toFixed( 2 );
    }
    if (product === 'NaN'){
      document.getElementById("invested_amount").value=" ";
      document.getElementById("invested_amount").value = product.toFixed( 2 );
    }
  
    if (numThree && numTwo){
      document.getElementById("current_value").value=" ";
      document.getElementById("current_value").value = product2.toFixed( 2 );
    }
    if (product2 === 'NaN'){
      document.getElementById("current_value").value=" ";
      document.getElementById("current_value").value = product2.toFixed( 2 );
    }
    
    var numFour=document.getElementById("current_value").value;
    var numFive=document.getElementById("invested_amount").value,answer;
    document.getElementById("Overall_Gain").value=(numFour-numFive).toFixed( 2 );
  }
  else{
    var numFour=document.getElementById("current_value").value;
    var numFive=document.getElementById("invested_amount").value,answer;
    document.getElementById("Overall_Gain").value=(numFive-numFour).toFixed( 2 );
  }
  }
  </script>
<form action="" method="post" autocomplete="off" >
 {% csrf_token %}
 <p><label for="id_companyName">CompanyName:</label> <input type="text" id="companyName" name="companyName" maxlength="100" value="{{stock.companyName}}" required id="companyName" readonly></p>
 <p><label for="id_qty">Qty:</label> <input type="number" name="qty" value="{{stock.qty}}" required id="qty" onclick="multiply()"></p>
 <p><label for="id_avg_price">Avg price:</label> <input type="number" name="avg_price" value="{{stock.avg_price}}" required id="avg_price" onclick="multiply()"></p>
 <p><label for="id_invested_amount">Invested amount:</label> <input type="number" name="invested_amount" value="{{stock.invested_amount}}" step="any" required id="invested_amount" readonly></p>
 <p><label for="id_current_price">Current price:</label> <input type="number" name="current_price" value="{{stock.current_price}}" step="any" required id="current_price" readonly></p>
 <p><label for="id_current_value">Current value:</label> <input type="number" name="current_value" value="{{stock.current_value}}" step="any" required id="current_value" readonly></p>
 <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
   Submit</button>
</form>

{% endblock content %}