{% extends "dashboard/base.html" %}
{% block content %}
<h1>List Of mutualfundss</h1>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td></td>
            <td>Name</td>
            <td>qty</td>
            <td>avg_price</td>
            <td>Amt. Invested</td>
            <td>Current Price</td>
            <td>Current Value</td>
            <td>Overall Gain/Loss</td>
            <td>
                <a href="{% url 'mutualfunds_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
       
    </thead>
    <tbody>
        {% for mutualfunds in mutualfunds_list %}
            <tr>
                <td>{{mutualfunds.Name}}</td>
                <td>{{mutualfunds.qty}}</td>
                <td>{{mutualfunds.avg_price}}</td>
                <td>{{mutualfunds.invested_amount}}</td>
                <td>{{mutualfunds.current_price}}</td>
                <td>{{mutualfunds.current_value}}</td>
                <td>{{mutualfunds.Overall_Gain}}</td>
                <td>
                    <a href="{% url 'mutualfunds_edit' mutualfunds.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'mutualfunds_delete' mutualfunds.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
         
        {% endfor %}
    </tbody>
    <tfoot >
        <tfoot style="vertical-align:bottom" >
        <tr style="height:300px">
        <th scope="row">Total </th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{total_investment.current_value__sum}}</td>
        <td>{{Overall_Gain.Overall_Gain__sum}}</td>
    </tr>
    </tfoot>
</table>

{% endblock content %}